<!DOCTYPE html>
<html>
    <head>
        <title>{{title}}</title>
        <link rel="icon" href="/img/weather.png" />
        <link rel="stylesheet" href="/css/styles.css" />
    </head>

    <body>
        <div class="main-content">
            {{>header}}

            <p>This site was created by Pilux and uses data from external apis.</p>

            <img src="/img/ffirpoJedi.jpg" class="portrait" />
        </div>

        {{>footer}}
    </body>
</html>